__pycache__
data
!/hsp/envs/overcooked/overcooked_ai_py/data
!/hsp/envs/overcooked_new/src/overcooked_ai_py/data
results
*.pyc
/gifs/
build
*.so
*.csv
*.egg-info
wandb
.vscode
api
logs
.nfs*
*.so
*.out
*.log
png
*.pt
biased_eval/*

docker
dataset

pretrained_models
